.headerPoke {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pokebola {
    width: 50px;
    height: 50px;
    margin: 10px;
    
}
button {
    margin-left: 8rem;
    width: 50px;
    height: 50px;
}

header {
    /* margin: 20px; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
}
