.searchdiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchinput {
    max-width: 100%;
    width: 83%;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin: 10px;
}

.searchinput:focus {
    outline: none;
}