* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

 }

 .App {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 51, 51);
    width: 100%;
    height: 100vh;
 }

 .container {
    max-width: 400px;
    margin: 0 auto;
 }
