.main {
    display: flex;
    justify-content: center;
    align-items: start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid ;
    cursor: pointer;
    background-color: #E0E0E0;
}
.divName {
    display: flex;
    justify-content: center;
}

.idPoke {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
}

ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;

}

li {
    list-style: none;
    width: 125px;
    
    min-width: 100px;
    margin: 2px;
}

.imgPoke {
    width: 50px;
    height: 50px;
}