* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.PokeContainer {
    width: 100vw;
    height: 100vh;
    /* font-family: 'Poppins', sans-serif; */
}
.detailsHeader {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
    color: #ffffff;
}

.pokeTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}
.namePoke{
    margin-left: 10%;
}
.idPoke{
    text-align: right;
    margin-right: 2%;
}

.PokebolaImg {
    position: absolute;
    opacity: 10%;
    right: 2%;
    top: 2%;
    width: 170px;
    height: 170px;
    z-index: 0;
}
.arrowPokes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.arrowLeft {
    transform: rotateY(180deg);
}
.arrowRight {
    position: relative;
    /* z-index: 1; */
}
.ImgPoke {
    position: relative;
    z-index: 2;
}
/* 
.namePoke{
    margin-top: 2rem;
    justify-items: center;
}


} */

/* .ImgPoke {
    position: absolute;
    width: 200px;
    height: 200px;
} */
.pokeName{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;

}

.pokecontainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 95%;
    height: 70vh;
    padding: 12px;
    align-items: center;
    position: relative;
    z-index: 1;
}
.types {
    display: block;
    /* position: relative; */
    border-radius: 1rem;
    padding: 2px 3px;
    /* top: 7rem; */
    margin: 1rem;
}
.detailsValues {
    display: flex;
    align-items: center;
    margin: 15px auto;
    height: 5rem;
    width: 100%;
}
.pAbout {
    text-align: center;
}

.pokeWeight {
    display: flex;
    width: 33%;
    align-items: center;
    margin: 15px auto;
    height: 3rem;
    flex-direction: column;

}

.sizeWeight {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.pSize {
    font-size: small;

}

.barra { 
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}
.sizeImg {
    width: 20px;
    height: 20px;
}
.pokeHeight {
    display: flex;
    width: 33%;
    align-items: center;
    margin: 15px auto;
    height: 3rem;
    flex-direction: column;
}
.sizeHeight {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.abilities {
    display: flex;
    width: 33%;
    align-items: center;
    margin: 15px auto;
    height: 3rem;
    flex-direction: column;
}
.sizeDiv {
    font-size: 20px;
}
.pDescription {
    font-size: small;
    text-align: center;
}
.sectionStats {
    width: 100%;
}
.stats {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.stats label {
   width: 20%;
   border-right: 1px solid #b9b3b3;
   font-weight: bold;
}
.stats p {
    width: 20%;
    margin-left: 20px;
}
.stats progress {
    width: 60%;
    border-radius: 50px;
    border: 1px solid #e16868;
}
 
    
